p {
    margin: 0px;
    padding: 0px;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

.prevInput {
    background-color: green;
    color: white;
}

.button {
    background-color: blue;
}
