* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 100vw;
    height: 600px;
}

.user {
    width: 50%;
}

.userOne {
    background-color: pink;
}

.userTwo {
    background-color: lightblue;
}

.messageWindow {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.messagesContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

.inputContainer {
    height: 20%;
}

.prevInput {
    background-color: green;
    color: white;
}

.button {
    background-color: blue;
}
